.container {
    margin: 0 auto;
    max-width: 800px;
    min-width: 368px;

}

.container__section {
    margin-bottom: 5px;
    background-color: white;
}

.container__section--tasksList {
    padding-bottom: 20px;
}

.container__header {
    padding: 20px;
    margin: 0;
    border: 0;
    border-top: 2px;
    border-bottom: 2px;
    border-color: #eeeeee;
    border-style: solid;
}